# 16 February 2023
#### Author: AARYAN KAUSHIK

#### Q1. What is a database? Differentiate between SQL and NoSQL databases.
These are the cases where we need to store a large amount of data in one place and fetch these data easily. 

Database : an organized collection of data and information or interrelated data collected at one place.

|SQL	|NoSQL|
|-|-|
|RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)	|Non-relational or distributed database system.|
|These databases have fixed or static or predefined schema	|They have dynamic schema|
|These databases are not suited for hierarchical data storage.	|These databases are best suited for hierarchical data storage.|
|These databases are best suited for complex queries	|These databases are not so good for complex queries|
|Vertically Scalable	|Horizontally scalable|
|Follows ACID property	|Follows CAP(consistency, availability, partition tolerance)|
|Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc	|Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc|

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
DDL stands for Data Definition Language, which deals with database schemas and descriptions, of how the data should reside in the database. DDL consists of following Commands.

1. CREATE - It is used to create a new table in SQL. we need to give information like table name, column names, and their datatypes.
2. ALTER - This command is used to add, delete or change columns in the existing table.
3. DROP - delete column from the table
4. TRUNCATE - command deletes the data inside a table, but not the table itself.

In [ ]:
# here we have created table named as test_table and having column c1,c2,c3,c4

CREATE TABLE if not exists test_table(c1 INT,c2 VARCHAR ,c3 FLOAT,c4 INT);  # to create new data base and to add column in that talbe

In [ ]:
# if we want to add new column c5 in this table 

ALTER TABLE test_database1.test_table  # need to provide table name with alter command
ADD c5 INT;    # need to define column and its data type

In [ ]:
# if we want to delete c3 column from test_table
ALTER TABLE test_database1.test_table  # need to provide table name with alter command
DROP COLUMN c3;    # need to give column name which we want to delete

In [ ]:
# if we want to change datatype of c2 from VARCHAR to INT
ALTER TABLE test_database1.test_table  # need to provide table name with alter command
MODIFY COLUMN c2 INT;     # need to give column name which we want to delete

In [ ]:
# if we want to delete all the rows of data table but not table itself.
TRUNCATE TABLE test_database1.test_table;

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
DML stands for Data Manipulation Language.

1. INSERT - insert data into a table
2. UPDATE - updates existing data within a table
3. DELETE - Delete all records from a database table

In [ ]:
# if we want to insert some values in data table then,
INSERT INTO test_database1.test_table
VALUES (2,5,8,9);

In [ ]:
# if we want to update values of some specific column 
UPDATE test_database1.test_table
SET c1=456;

In [ ]:
# this will delete the all the rows of data table
DELETE FROM test_database1.test_table;

#### Q4. What is DQL? Explain SELECT with an example.
DQL stands for Data Query Language \
SELECT: It is used to retrieve data from the database

In [ ]:
# if we want to fetch all the rows of data form any table 
SELECT * FROM test_database1.test_table;

#### Q5. Explain Primary Key and Foreign Key.

|Sr. No.|Primary Key|Foreign Key|
|-|-|-|
|1	|A primary key is used to ensure data in the specific column is unique.	|A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.|
|2	|It uniquely identifies a record in the relational database table.	|It refers to the field in a table which is the primary key of another table.|
|3	|Only one primary key is allowed in a table.	|Whereas more than one foreign key are allowed in a table.|
|4	|It is a combination of UNIQUE and Not Null constraints.	|It can contain duplicate values and a table in a relational database.|
|5	|It does not allow NULL values.	|It can also contain NULL values.|
|6	|Its value cannot be deleted from the parent table.|	Its value can be deleted from the child table.|
|7	|It constraint can be implicitly defined on the temporary tables.	|It constraint cannot be defined on the local or global temporary tables.|

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
#this is python code to connect MySQL to python

import mysql.connector      # import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

print(mydb)

mycursor = mydb.cursor()

# to handle a result set inside a stored procedure, you use a cursor. A cursor allows you to iterate a set of rows returned by a query and process each row individually.
mycursor.execute("CREATE DATABASE if not exists test1")

# execute method accepts a MySQL query as a parameter and executes the given query
mycursor.execute("CREATE TABLE if not exists test1.test_table (column1 INT, column2 VARCHAR(50) ,column3 INT, column4 FLOAT, column5 VARCHAR(40) )")
mydb.close()

1. cursor() : A cursor allows us to iterate a set of rows returned by a query and process each row individually.
2. execute() : execute method accepts a MySQL query as a parameter and executes the given query

#### Q7. Give the order of execution of SQL clauses in an SQL query.
In SQL, the first clause that is processed is the FROM clause, while the SELECT clause, which appears first in an SQL query, is processed much later. The phases involved in the logical processing of an SQL query are as follows:

1. FROM clause
2. ON clause
3. OUTER clause
4. WHERE clause
5. GROUP BY clause
6. HAVING clause
7. SELECT clause
8. DISTINCT clause
9. ORDER BY clause
10. TOP clause