# 30 January 2023
#### Author: AARYAN KAUSHIK

## 1
#### Write a programme to accept percentage from the user and display the grade according to the following criteria.

|Marks | Grade|
|-|-|
|**>90**|A|
|**>80 and <=90**|B|
|**>=60 and <=80**|C| 
|**<60**|D|

In [1]:
###1
user_input = int(input("Enter Percentage: "))
if user_input > 90:
    print("A")
elif user_input > 80 and user_input <= 90:
    print("B")
elif user_input >= 60 and user_input <= 80:
    print("C")
else:
    print("D")

Enter Percentage:  80

C

## 2 
#### Wite a programme to accept cost price of a bike and display the road tax to be paid according to the following criteria.

|Tax | Cost Price (Rs.)|
|-|-|
|**15%**|>100000|
|**10%**|>50000 and <=100000|
|**5%**|<=50000|

In [2]:
###2
bike_price = int(input("Enter the bike price"))
if bike_price > 100000:
    print("Tax 15%")
elif bike_price > 50000 and bike_price <= 100000:
    print("Tax 10%")
else:
    print("Tax 5%")

Enter the bike price 78000

Tax 10%

## 3
#### Accept any city from user and display monumnet of that city.

|City | Monument |
|-|-|
|**Delhi**|Red Fort|
|**Agra**|Taj Mahal|
|**Jaipur**|Jal Mahal|

In [3]:
###3
accept_city = input("Enter city Delhi/Agra/Jaipur: ")
if accept_city == "Delhi" or accept_city == "delhi":
    print("Red Fort")
elif accept_city == "Agra" or accept_city == "agra":
    print("Taj Mahal")
elif accept_city == "Jaipur" or accept_city == "jaipur":
    print("Jal Mahal")
else:
    print("enter correct city name from the option")

Enter city Delhi/Agra/Jaipur:  agra

Taj Mahal

## 4 
#### Check how many times a given number can be divided by 3 before it is less than or equal to 10

In [4]:
div_num = int(input("Enter the number: "))

count = 0
while div_num/3>=10:
    div_num = div_num/3
    count=count+1

print(f"This nuber can be divided {count} times")

Enter the number:  200

This nuber can be divided 2 times

## 5
#### Why and when to use while loop in python and give detailed description with example.

The for statement iterates through a collection or iterable object or generator function. The while statement simply loops until a condition is False.

In [5]:
###5
n = 0
while n<=10: # end when it reach 10 because the condition says it should be less than equal 10
    print(n)
    n=n+1  # increase n by 1.

0
1
2
3
4
5
6
7
8
9
10

## 6 
#### Use nested while loop to print 3 different pattern.

In [6]:
#### 1st pattern
rows = 10
i = rows
while i >= 1:
    j = rows
    while j > i:
        # display space
        print(' ', end=' ')
        j -= 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i -= 1

* * * * * * * * * *
  * * * * * * * * *
    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [7]:
#### 2nd pattern
rows = 10
i = 1
while i <= rows:
    j = i
    while j < rows:
        # display space
        print(' ', end=' ')
        j += 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i += 1

                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *

In [8]:
#### 3rd pattern
i = rows - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

## 7 
#### Reverse a while loop to display numbers from 10 to 1

In [9]:
rev_num = int(input("Enter any number to reverse: "))
while rev_num>0:
    print(rev_num,end=",")
    rev_num=rev_num-1

Enter any number to reverse:  10

10,9,8,7,6,5,4,3,2,1,